root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
  args_bin = ["serve"]
  bin = "./tmp/main"
  cmd = "go build -o ./tmp/main ."
  delay = 1000
  exclude_dir = ["assets", "tmp", "vendor", "testdata"]
  exclude_file = []
  exclude_regex = ["_test\\.go$", "\\.gen\\.go$"]
  exclude_unchanged = false
  follow_symlink = false
  full_bin = "WFAPI_SERVE_PORT=8080 WFAPI_LOG_FORMAT=dev WFAPI_LOG_LEVEL=debug WFAPI_NO_COLOR=false WFAPI_SERVE_BUCKET_NAME=argo WFAPI_SERVE_BUCKET_REGION=minio WFAPI_SERVE_BUCKET_SERVICE_URL=https://minio.uds.dev WFAPI_SERVE_WELL_KNOWN_CONFIG_URL=https://sso.uds.dev/realms/uds/.well-known/openid-configuration ./tmp/main"
  include_dir = []
  include_ext = ["go", "tpl", "tmpl", "html", "yaml", "mod", "sum"]
  include_file = []
  kill_delay = "0s"
  log = "build-errors.log"
  poll = false
  poll_interval = 0
  post_cmd = []
  pre_cmd = ["go generate ./..."]
  rerun = false
  rerun_delay = 500
  send_interrupt = false
  stop_on_error = false

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  silent = false
  time = false

[misc]
  clean_on_exit = false

[proxy]
  app_port = 8080
  enabled = true
  proxy_port = 8081

[screen]
  clear_on_rebuild = false
  keep_scroll = true
