{{- if .Values.wfapi.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "wfapi.serviceAccountName" . }}
  labels:
    {{- include "wfapi.labels" . | nindent 4 }}
  {{- with .Values.wfapi.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
automountServiceAccountToken: {{ .Values.wfapi.serviceAccount.automount }}
{{- end }}
