{{- if .Values.wfapi.roleBinding.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: binding-{{ include "wfapi.serviceAccountName" . }}
subjects:
  - kind: ServiceAccount
    name: {{ include "wfapi.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
roleRef:
  kind: Role
  name: {{ .Values.wfapi.roleBinding.role }}
  apiGroup: rbac.authorization.k8s.io
{{- end }}
