apiVersion: v1
kind: Service
metadata:
  name: {{ include "wfapi.fullname" . }}
  labels:
    {{- include "wfapi.labels" . | nindent 4 }}
spec:
  type: {{ .Values.wfapi.service.type }}
  ports:
    - port: {{ .Values.wfapi.service.port }}
      targetPort: {{ .Values.wfapi.service.targetPort }}
      protocol: TCP
      name: http
  selector:
    {{- include "wfapi.selectorLabels" . | nindent 4 }}
