{{- if .Values.wfapi.udsPackage.enabled -}}
apiVersion: uds.dev/v1alpha1
kind: Package
metadata:
  name: {{ include "wfapi.fullname" . }}
spec:
  {{- if eq .Values.wfapi.env.ASPNETCORE_ENVIRONMENT "Production" }}
  sso:
    - name: wfapi-creds
      clientId: wfapi
      standardFlowEnabled: false
      #serviceAccountsEnabled: true #TODO: Add this to UDS Core
  {{- end }}
  network:
    expose:
      - description: Expose the app using an Istio VirtualService
        service: {{ include "wfapi.fullname" . }}
        selector:
          app.kubernetes.io/name: {{ include "wfapi.fullname" . }}
        host: {{ .Values.wfapi.udsPackage.expose.host }}
        gateway: tenant
        port: 80
        targetPort: 8080
    allow:
      - direction: Egress
        selector:
          app.kubernetes.io/name: {{ include "wfapi.fullname" . }}
        ports:
          - 443
{{- end }}
