{{- if .Values.wfapi.udsPackage.enabled -}}
apiVersion: uds.dev/v1alpha1
kind: Package
metadata:
  name: {{ include "wfapi.fullname" . }}
spec:
  sso:
    - name: wfapi creds
      clientId: wfapi
      standardFlowEnabled: false
      attributes:
        oauth2.device.authorization.grant.enabled: "true"
  network:
    expose:
      - description: Expose the app using an Istio VirtualService
        service: {{ include "wfapi.fullname" . }}
        selector:
          app.kubernetes.io/name: {{ include "wfapi.fullname" . }}
        host: {{ .Values.wfapi.udsPackage.expose.host }}
        gateway: tenant
        port: 80
        targetPort: 8080
{{- end }}
