tasks:
  - name: generate-argo-server-client
    description: Use the openapi-generator-cli to generate the argo-server-client
    actions:
      - cmd: rm -rf argo-server-client/
      - cmd: |
          npx @openapitools/openapi-generator-cli generate \
          -i https://raw.githubusercontent.com/argoproj/argo-workflows/main/api/openapi-spec/swagger.json \
          -g csharp \
          -o $PWD/argo-server-client/ \
          --additional-properties=library=restsharp,netCoreProjectFile,nonPublicApi,nullableReferenceTypes=true,targetFramework=net8.0 \
          --type-mappings=DateTime=DateTime?
