variables:
  - name: BASIC
  - name: JWT

tasks:
  - name: e2e
    description: Run the full end-to-end test suite
    actions:
      - cmd: |
          ./uds zarf tools kubectl apply -f test/hello-world-template.yaml
          dotnet test wfapi.E2ETests --logger "console;verbosity=detailed"

  - name: dast
    description: Run DAST tests using OWASP ZAP's API scan
    actions:
      - cmd: rm -rf zap/wrk
      - cmd: mkdir -p zap/wrk
      - cmd: scripts/check_swagger_status.sh
      - cmd: |
          docker run -t --rm \
          --network="host" \
          -v $PWD/zap/zap-api-scan.conf:/home/zap/zap-api-scan.conf \
          -v $PWD/zap/wrk:/zap/wrk:rw \
          -w /zap/wrk \
          ghcr.io/zaproxy/zaproxy:stable \
            zap-api-scan.py \
            -t https://wfapi.uds.dev \
            -f openapi \
            --schema https://wfapi.uds.dev/swagger/v1/swagger.json \
            -r ./zap-api-scan.html \
            -J ./zap-api-scan.json \
            -c /home/zap/zap-api-scan.conf \
            -d

  - name: get-token
    description: Test commands for SSO testing
    actions:
      - cmd: |
          curl -X 'POST' \
            'https://sso.uds.dev/realms/uds/protocol/openid-connect/token' \
            -d grant_type=client_credentials \
            -H 'accept: application/json' \
            -H "Authorization: Basic ${BASIC}" | jq -r '.access_token'
        setVariables:
          - name: JWT
  - name: get-files
    description: Test commands for SSO testing
    actions:
      - cmd: |
            curl -i -X GET \
              https://wfapi.uds.dev/api/v1/workflows/files \
              -H 'accept: application/json' \
              -H "Authorization: Bearer ${JWT}"
  - name: upload-file
    description: Test upload command
    actions:
      - cmd: |
          curl -i -X POST \
              https://wfapi.uds.dev/api/v1/workflows/files \
              -H 'accept: application/json' \
              -H 'Content-Type: multipart/form-data' \
              -F 'fileName=openapitools.json' \
              -F 'file=@openapitools.json' \
              -H "Authorization: Bearer ${JWT}"
  - name: get-file
    description: Gets the octet-stream for the file we uploaded
    actions:
      - cmd: |
          curl -i -X GET \
              https://wfapi.uds.dev/api/v1/workflows/files/%2Fwfapi%2Ffiles%2Fopenapitools.json \
              -H 'accept: application/octet-stream' \
              -H "Authorization: Bearer ${JWT}"
  - name: get-file-unauth
    description: Attempts to get an unauthorized file
    actions:
      - cmd: |
          curl -i -X GET \
              https://wfapi.uds.dev/api/v1/workflows/files/whoops.png \
              -H 'accept: application/octet-stream' \
              -H "Authorization: Bearer ${JWT}"
  - name: delete-file
    description: Deletes the uploaded file
    actions:
      - cmd: |
          curl -i -X DELETE \
              https://wfapi.uds.dev/api/v1/workflows/files/%2Fwfapi%2Ffiles%2Fopenapitools.json \
              -H 'accept: */*' \
              -H "Authorization: Bearer ${JWT}"
  - name: delete-file-unauth
    description: Attempts to delete an unauthorized file
    actions:
      - cmd: |
          curl -i -X DELETE \
              https://wfapi.uds.dev/api/v1/workflows/files/whoops.png \
              -H 'accept: */*' \
              -H "Authorization: Bearer ${JWT}"
