tasks:
  - name: e2e
    description: Run the full end-to-end test suite
    actions:
      - cmd: |
          ./uds zarf tools kubectl apply -f test/hello-world-template.yaml
          dotnet test wfapi.E2ETests --logger "console;verbosity=detailed"

  - name: dast
    description: Run DAST tests
    actions:
      - cmd: |
          docker run -t --rm --network host -v $PWD/zap/wrk:/zap/wrk -w /zap/wrk registry1.dso.mil/ironbank/opensource/owasp-zap/owasp-zap:v2.15.0 \
          zap-baseline.py -t https://wfapi.uds.dev -r ./dast-report.html -J ./dast-report.json
