tasks:
  - name: e2e
    description: Run the full end-to-end test suite
    actions:
      - cmd: |
          ./uds zarf tools kubectl apply -f test/hello-world-template.yaml
          dotnet test wfapi.E2ETests --logger "console;verbosity=detailed"

  - name: dast
    description: Run DAST tests using OWASP ZAP's API scan
    actions:
      - cmd: rm -rf zap/wrk
      - cmd: mkdir -p zap/wrk
      - cmd: scripts/check_swagger_status.sh
      # Give the app a few more seconds to be ready. Without this the ZAP scan sometimes fails to start.
      - cmd: sleep 10
      - cmd: |
          docker run -t --rm \
          --network="host" \
          -v $PWD/zap/zap-api-scan.conf:/home/zap/zap-api-scan.conf \
          -v $PWD/zap/wrk:/zap/wrk:rw \
          -w /zap/wrk \
          ghcr.io/zaproxy/zaproxy:stable \
            zap-api-scan.py \
            -t https://wfapi.uds.dev \
            -f openapi \
            --schema https://wfapi.uds.dev/swagger/v1/swagger.json \
            -r ./zap-api-scan.html \
            -J ./zap-api-scan.json \
            -c /home/zap/zap-api-scan.conf \
            -d
