{{- if .Values.wfapi.serviceAccount.create -}}
apiVersion: v1
kind: Secret
metadata:
  name: wfapi.service-account-token
  annotations:
    kubernetes.io/service-account.name: {{ include "wfapi.serviceAccountName" . }}
type: kubernetes.io/service-account-token
{{- end }}
