name: tag-push

on:
  push:
    tags:
      - "*"

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}/containers/${{ github.event.repository.name }}
  ZARF_PACKAGE_NAMESPACE: ${{ github.repository }}/packages

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Install UDS CLI
        run: |
          set -a; source .env; set +a
          brew install defenseunicorns/tap/uds@${UDS_CLI_VERSION}

      - name: Install yq
        run: brew install yq

      - name: Build the Docker image
        run: docker buildx build --platform "linux/amd64,linux/arm64" -f "wfapi/Dockerfile" -t "${{env.REGISTRY}}/${{env.IMAGE_NAME}}:$(yq e '.metadata.version' zarf/zarf.yaml)" --push .

      - name: Build the zarf package
        run: uds run build-package

      - name: Publish the zarf package
        run: uds zarf package publish zarf/zarf-package-*.tar.zst oci://${{env.REGISTRY}}/${{env.ZARF_PACKAGE_NAMESPACE}}
